body {
    margin: 0px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

/* div {
    border: 1px solid red;
} */

.box-shadow {
    box-shadow: -6px 6px 6px #00000050;
}

.container {
    display: flex;
    flex-direction: column;
    width: clamp(900px, 60%, 2000px);
    font-size: clamp(1.5em, 2.5vw, 3.5em);
    gap: 10rem;
    background-color: white;
    box-shadow: 0px 0px 10px #000000;
}

/* Navbar Section */
nav {
  display: flex;
  padding: 2rem 1rem 8rem 1rem;
  padding-bottom: 8rem;
  gap: 5rem;
  background-color: #013220;
  box-shadow: 0px 10px 10px #00000050;
}

.hero-img {
    flex: 0.75 1 0;
    border: 1px solid #3B3355;
    border-radius: 5px;
    width: 100%;
    object-fit: fill;
}

.hero-text {
    flex: 1.5 1 0;
    font-size: clamp(1.5rem, 2.25vw, 2rem);
    padding: 0px 1rem 0px 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #FEFCFD;
    height: fit-content;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #3B3355;
}

.hero-text > p {
    margin: 6rem 0px 6rem 0px;
}

.section-margin {
    margin: 0rem 1rem 0rem 1rem;
}

/* Project Section */
.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

/* Link underline animation */
.project-header {
    padding-bottom: 4px;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.project-header:hover {
    background-position: 100% 100%;
    background-size: 100% 4px;
}

/* Project List */
ul {
    padding: 0px;
    list-style: none;
    display: grid;
    margin: 0px;
    row-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

li {
    width: clamp(250px, 100%, 400px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-self: center;
}

.card {
    cursor: pointer;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    border-radius: 1rem 0px 1rem 0px;
    animation: flyIn 0.5s ease-in-out 1 forwards;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

@keyframes flyIn{
    from {
       opacity: 0%;
       transform: translate(0%, -50%); 
    }
    
    to {
        opacity: 100%;
       transform: translate(0%, 0%); 
    }
}

.card:hover {
    background-color: #5D5D81;
    color: #FEFCFD;
    border-color: #3B3355;
}

.card-icon {
    flex: 1.25 1 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
}

.card-info {
    flex: 1 1 0;
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 2rem;
}

.card-info > p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    margin-top: 0px;
    margin-bottom: 0px;
}

.info-icons {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    gap: 10px
}

.info-icons > *:hover {
    color: red;
}

footer {
    box-shadow: 0px -10px 10px #00000050;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #013220;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    color: #FEFCFD
}

.footer-wrapper > * {
    margin: 0px;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.contact-icons > a > i {
    color: #FEFCFD !important;
}

/* Phone Styles */
@media (max-width: 1000px) {
    .container{
        width: 100%;
    }

    .hero-text > p {
        margin: 0px;
    }

    ul {
        grid-template-columns: 1fr 1fr;
    }

    .info-icons > a > * {
        font-size: 2.5rem !important;
    }

    i {
        font-size: 4rem;
    }

    
}

@media (max-width: 500px) {

    nav {
        flex-direction: column;
    }

    /* Adjusting the project list */

    .projects {
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        width: 300px;
        align-self: center;
    }

    .footer-wrapper {
        width: 100%;
    }

    .footer-wrapper > * {
        font-size: clamp(2rem, 2vw, 3rem);
        text-align: center;
    }
}
